/************************
CSS Global
************************/
html {
  scroll-behavior: smooth;
}

/************************
Style par élements
************************/
header {
  width: 100%;
  color: whitesmoke;
  background-image: url(images/book.jpg);
  background-position: top center;
}
header img {
  border: 3px solid white;
  border-radius: 100%;
  margin-bottom: -60px;
  z-index: 1;
}
#menu {
  background-color: #072d35;
  border-top: 4px solid white;
}
#fleche {
  width: 5%;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
#lien1,
#lien2,
#lien3,
#lien4,
#lien5,
#lien6 {
  color: whitesmoke;
  font-size: 1.5em;
}
#lien1:hover,
#lien2:hover,
#lien3:hover,
#lien4:hover,
#lien5:hover,
#lien6:hover {
  color: #b67022;
}
main {
  background-color: #fcccca;
}

.card,
.img-thumbnail {
  box-shadow: 0px 0px 10px black;
}
.card-title {
  color: #02312b;
}
.btn {
  background-color: #b67022;
  color: #02312b;
}
.date {
  background-color: #e4c3c1;
  border-radius: 13px;
  font-size: 1.5em;
}
.emploi,
.formations {
  font-style: italic;
  font-size: 1.5em;
}
#horssize {
  width: 25%;
}

/************************
Media Queries
************************/
@media screen and (max-width: 990px) {
  #photo {
    width: 20%;
  }
  .date {
    font-size: 1em;
  }
  .emploi,
  .formations {
    font-size: 1em;
  }
  #fleche {
    width: 8%;
  }
  header h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  header h1 {
    font-size: 15px;
  }
}
